html {
    height: 100%;
}

.logo {
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
}

.nav-link {
    padding: 5px;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #a00;
}

.nav-pills .nav-link {
    color: #a00;
}